---
layout: default
title: "Audio | Welcome to Night Vale: The Game About You"
---

<div class="page-header">
  <h1>Audio <small>The Sounds of Night Vale</small></h1>
</div>

<p class="lead text-center"><strong>The Game About You</strong> -- based on an audio-only podcast -- requires a rewarding audio experience.</p>

<h2>Cecil's Narration <small>Always by your side, just beyond view.</small></h2>
<p>While Cecil isn't the player character, his presence in the game will be as ubiquitous as the radiation of the broadcast signals that carry Cecil's voice. As in the episode <a href="">A Story About You</a>, Cecil will narrate You's progress though the story. This allows the presence of the central character to the Night Vale franchise in what he does best: Narrate.</p>
<p>The system will be similar to that of the game <a href="">Bastion</a> with dynamic narration cues. The player's actions dictate the audio cues of Cecil's narration at times. However, the design can be conscious to disable the narration by turning off a radio or playing a scene where there is no radio.</p>

<h2>Original Score <small>Inspired by Disparition</small></h2>
<div class="row">
  <div class="col-sm-4 text-center">
    {% include spotify-disparition.html %}
  </div>
  <div class="col-sm-8">
    <p>The podcast uses music composed and performed by <a href="http://www.disparition.info/" target="_blank">Disparition</a>. The soundscape is very atmospheric and builds it's presence to what is paired with, rather than playing against it. It's important to establish a unique soundscape that isn't overpowering (unless it's <abbr title="Sound Effects">SFX</abbr>).</p>
  </div>
</div>

<h2>The Weather <small>The Music of Night Vale</small></h2>

<div class="row">
  <div class="col-sm-4 text-center">
    {% include spotify-weather.html %}
  </div>
  <div class="col-sm-8">
    <blockquote>
      And now, the weather.
      <small>Cecil Gershwin Palmer</small>
    </blockquote>
    <p>"The Weather" is a feature of the podcast where a song from a recording artist is played. The song isn't custom to the episode, but usually matches the mood of the episode or of Night Vale itself. The Spotify playlist on this page includes the selection of songs from the podcast (thanks <a href="http://open.spotify.com/user/tygrestick">Lizzy Boden</a>!).</p>
    <p>For "The Game About You," this tradition is continued by featuring a song introduced by Cecil when the story is best presented without narration, but a radio would still be in ear-shot.</p>
    <ul>
      <li>A song that isn't matching to the original score matches the scene.</li>
      <li>A radio is still with-in ear-shot.</li>
    </ul>
  </div>
</div>