---
layout: default
title: "Characters | Welcome to Night Vale: The Game About You"
---

<div class="page-header">
  <h1>Characters <small>Who you'll meet in Night Vale.</small></h1>
</div>

<h2>Principal Characters</h2>

<h3>You <small>The Player Character</small></h3>
<div class="row">
  <div class="col-sm-2">
    <img src="holder.js/200x300/industrial/auto/text:Photo of You" class="img-responsive img-rounded">
  </div>
  <div class="col-sm-10">
    <p>The character of You is predominately featured in the episode <a href="http://nightvale.wikia.com/wiki/A_Story_About_You." title="Night Vale Wiki: A Story About You.">"A Story About You"</a> where Cecil narrates a day in You's life, broadcasted for all to hear.</p>

    <h4>The Player Character</h4>
    <p><strong>You is <em>not</em> the player.</strong> He is an actual character in Night Vale who is only referred to in second person.</p>
    <p>You's malleability to the narrative makes him the logical choice as the character the player controls and sees the narrative though; Also known as the Player Character. All other named and known characters have a unique enough personality or mystery in the narrative which would complicate the experience for listeners of the podcast. You is an outsider that live in Night Vale with the explicit purpose of reinventing himself.</p>

    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/You_(character)" title="Night Vale Wiki: You (character)">Night Vale Wiki: You (character)</a></li>
    </ul>
  </div>
</div>

<h3>Cecil Gershwin Palmer <small>The Voice of Night Vale</small></h3>
<div class="row">
  <div class="col-sm-2">
    {% include concept-art/ceciel-palmer-photo.html %}
  </div>
  <div class="col-sm-10">
    <p>The Voice of Night Vale, Cecil is the star character of the Night Vale series. With his unique and welcoming voice, Cecil has a positive disposition to his listeners even when the end of the world is upon the community -- which happens rather often in Night Vale.</p>
    <p><strong>Voice Actor:</strong> Cecil Baldwin</p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/Cecil_(character)">Night Vale Wiki: Cecil (character)</a></li>
    </ul>
  </div>
</div>

<h3>Carlos <small>The Scientist</small></h3>
<div class="row">
  <div class='col-sm-2'>
    {% include concept-art/carlos-photo.html %}
  </div>
  <div class="col-sm-10">
    {% include quotes/cecil-about-carlos.html %}
    <p><strong>Voice Actor:</strong> <a href="http://happierman.net/">Jeffrey Cranor</a></p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/Carlos" title="Night Vale Wiki: Carlos">Night Vale Wiki: Carlos</a></li>
      <li><a href="http://momolafey.tumblr.com/post/64450061662/cecil-baldwin-the-actor-talking-about-how-he">Cecil Baldwin interview about Carlos (1:03)</a></li>
    </ul>
  </div>
</div>

<h3>Intern Dana</h3>
<div class="row">
  <div class="col-sm-2">
    <img src="holder.js/200x300/industrial/auto/text:Intern Dana" class="img-responsive img-rounded">
  </div>
  <div class="col-sm-10">
    <p>...</p>
    <p><strong>Voice Actress:</strong> <a href="http://en.wikipedia.org/wiki/Jasika_Nicole">Jasika Nicole</a></p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/Intern_Dana">Night Vale Wiki: Intern Dana</a></li>
    </ul>
  </div>
</div>

<h2>Supporting Characters</h2>

<h3>Old Woman Josie</h3>
<div class="row">
  <div class="col-sm-2">
    <img src="holder.js/200x200/industrial/auto/text:Old Woman Josie" class="img-responsive img-rounded">
  </div>
  <div class="col-sm-10">
    <p>Next door neighbor to You.</p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/Old_Woman_Josie" title="Night Vale Wiki: Old Woman Josie">Night Vale Wiki: Old Woman Josie</a></li>
    </ul>
  </div>
</div>

<h2>Organizations, &amp; Other Entities</h2>

<h3>Sheriff's Secret Police</h3>
<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <p>...</p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/Sheriff's_Secret_Police">Night Vale Wiki: Sheriff's Secret Police</a></li>
    </ul>
  </div>
</div>

<h3>A Vague, Yet Menacing, Government Agency</h3>
<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <p>...</p>
    <h4>See Also</h4>
    <ul>
      <li><a href="http://nightvale.wikia.com/wiki/A_Vague,_Yet_Menacing,_Government_Agency">Night Vale Wiki: A Vague, Yet Menacing, Government Agency</a></li>
    </ul>
  </div>
</div>