---
layout: no-container
title: "Welcome to Night Vale: The Game About You"
---

<header id="nv-logo-banner">
  
  
  <div class="nv-logo-area container">
    
    <div class="nv-logo-powerlines">
      <img id="nv-logo-powerline-0" src="{{ site.baseurl }}img/night-vale-logo/nv-logo-linetest.min.svg">
    </div>
    
    <div class="nv-logo-eyemoon">
    </div>
  
    <div class="nv-logo-house">
    </div>
  
    <div class="nv-logo-pollbase">
    </div>
  
    <div class="nv-logo-watertower">
    </div>
  
  </div>
  
  <div class="nv-logo-title">
    <div class="title-main">WELCOME TO NIGHT VALE</div>
    <div class="title-sub">The Game About You</div>
  </div>

</header>

{% include navagation.html %}

<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-center lead"><strong>Welcome to Night Vale</strong> is the community radio program for the small desert town of Night Vale, featuring local weather, news, announcements from the Sheriff's Secret Police, mysterious lights in the night sky, dark hooded figures with unknowable powers, and cultural events.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-center lead-sub">This game is not like other games. It's a different kind of game that features you as the player character. Mindlessly following the whispering voiceless instructions from a presence you will never truly know.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      {% include notice/disclaimer-main.html %}
    </div>
  </div>
  
</div>

{% include navagation.html %}