/* Designed by Sentinel Type */

@import "nvgay-variables.less";

@font-face {
  font-family: 'BigNoodleTitling';
  font-style: normal;
  font-weight: 400;
  src: url('@{icon-font-path}bignoodletitling.eot');
  src: url('@{icon-font-path}bignoodletitling.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}bignoodletitling.woff') format('woff'),
       url('@{icon-font-path}bignoodletitling.ttf') format('truetype'),
       url('@{icon-font-path}bignoodletitling.svg#bignoodletitling') format('svg');
}

@font-face {
  font-family: 'BigNoodleTitling';
  font-style: oblique;
  font-weight: 400;
  src: url('@{icon-font-path}bignoodletitling-oblique.eot');
  src: url('@{icon-font-path}bignoodletitling-oblique.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}bignoodletitling-oblique.woff') format('woff'),
       url('@{icon-font-path}bignoodletitling-oblique.ttf') format('truetype'),
       url('@{icon-font-path}bignoodletitling-oblique.svg#bignoodletitling-oblique') format('svg');
}
