/*
    Welcome to Night Vale: The Game About You
        Core CSS theme. Includes Bootstrap intergration.
*/

// Welcome to Night Vale: Color Palette
@nv-purple-light: #9A3B91;
@nv-purple-dark: #6A2162;
@nv-purple-darker: darken(@nv-purple-dark, 10%);
@nv-purple-bg: darken(@nv-purple-dark, 15%);
@nv-purple: @nv-purple-dark; // Alias
@nv-black: #231F20;
@nv-gray: #9C9A9A;
@nv-white: #FFFFFF; // Alias

@import "nvgay-variables.less";
@import "bootstrap-core.less";