/*
    Welcome to Night Vale: The Game About You
        Main Banner Logo
*/

@nv-logo-height:500px;
@nv-logo-title-size:40pt;

#nv-logo-banner {
  background-color:@nv-purple-light;
  width:100%;
  overflow:hidden;
  
  .nv-logo-common {
    .user-select(none);
    position:absolute;
  }
  .nv-logo-common-img(@img,@position:center bottom) {
    // Make sure you include the image without root path!
    background: url('@{images-path}@{img}') no-repeat @position;
    background-size: contain;
  }
  
  .nv-logo-area {
    position:relative;
    height:@nv-logo-height;
    
    .nv-logo-eyemoon {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-eyemoon.min.svg', center top);
      
      top:120px;
      left:20%;
      width:530px;
      height:200px;
      z-index:1;
    }
  
    .nv-logo-house {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-house.min.svg');
      
      bottom:0;
      left:10%;
      width:400px;
      height:180px;
      z-index:2;
    }
  
    .nv-logo-pollbase {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-pollbase.min.svg');
      
      bottom:0;
      left:45.8%;

      width:180px;
      height:(@nv-logo-height - 10px);
      z-index:4;
    }
  
    .nv-logo-watertower {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-watertower.min.svg');
      
      bottom:-2px;
      left:59%;
      
      width:150px;
      height:290px;
      z-index:3;
    }
    
    .nv-logo-powerlines {
      .nv-logo-common;
      
      width:100%;
      height:60%;
      
      top:45px;
      left:46.5%;
      z-index:5;
    }
  
  }
  
  .nv-logo-title {
    font-family: 'BigNoodleTitling', sans-serif;
    
    padding:8px 0;
    background-color:@nv-black;
    color:@nv-white;
    font-size:@nv-logo-title-size;
    text-align:center;
    letter-spacing:2pt;
    line-height:1;
    
    .title-main {
      
    }
    .title-sub {
      color:@nv-gray;
      font-size:( @nv-logo-title-size - 10pt );
    }
    
  }
  
}

#nv-logo-mini {
  font-family: 'BigNoodleTitling', sans-serif;
  letter-spacing:1.2pt;
  background-image: url('@{images-path}night-vale-logo/nv-logo-watertower.min.svg'), url('@{images-path}night-vale-logo/nv-logo-eyemoon.min.svg');
  background-repeat: no-repeat;
  background-position: -2px 2px, 99% 4px;
  background-size: auto 120px, auto 40px;
  @media (max-width: @screen-xs-max) {
    background-image: url('@{images-path}night-vale-logo/nv-logo-watertower.min.svg');
    background-position: -2px 2px;
    background-size: auto 120px;
  }
  
  .navbar-brand {
    text-shadow:2px 2px 5px #000;
    .title-sub {
      color:@nv-gray;
    }
  }
  
  .navbar-collapse {
    @media (max-width: @screen-xs-max) {
      background-color:@navbar-default-bg;
      background-image:url('@{images-path}night-vale-logo/nv-logo-eyemoon.min.svg');
      background-repeat: no-repeat;
      background-position: 90% 90%;
      background-size: auto 60px;
      &.navbar-inverse {
        background-color:@navbar-inverse-bg;
      }
    }
  }
  
}
