/*
    Welcome to Night Vale: The Game About You
        Core CSS theme. Includes Bootstrap intergration.
*/

@import "nvgay-variables.less";
@import "bootstrap-core.less";

#footer {
  border-top:2px inset gray;
  margin-top:20px;
  padding-top:20px;
}
