/*
    Welcome to Night Vale: The Game About You
        Main Banner Logo
*/

// Import common variables.
@import "nvgay-variables.less";

@nv-logo-height:500px;
@nv-logo-title-size:40pt;

#nv-logo-banner {
  background-color:@nv-purple-light;
  width:100%;
  
  .nv-logo-common {
    position:absolute;
  }
  .nv-logo-common-img(@img,@position:center bottom) {
    // Make sure you include the image without root path!
    background: url('@{images-path}@{img}') no-repeat @position;
    background-size: contain;
  }
  
  .nv-logo-area {
    position:relative;
    height:@nv-logo-height;
    //outline:1px dashed gray;
    
    .nv-logo-eyemoon {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-eyemoon.min.svg', center top);
      
      top:120px;
      right:35%;
      width:530px;
      height:200px;
      z-index:1;
    }
  
    .nv-logo-house {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-house.min.svg');
      
      bottom:0;
      left:10%;
      width:400px;
      height:180px;
      z-index:2;
    }
  
    .nv-logo-pollbase {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-pollbase.min.svg');
      
      bottom:0;
      right:39%;

      width:180px;
      height:(@nv-logo-height - 10px);
      z-index:4;
    }
  
    .nv-logo-watertower {
      .nv-logo-common;
      .nv-logo-common-img('night-vale-logo/nv-logo-watertower.min.svg');
      
      bottom:-2px;
      right:28%;
      width:150px;
      height:290px;
      z-index:3;
    }
  }
  
  .nv-logo-powerlines {
    .nv-logo-common;
    width:100%;
    height:100%;
    left:200px;
    z-index:5;
  }
  
  .nv-logo-title {
    font-family: 'BigNoodleTitling', sans-serif;

    background-color:@nv-black;
    
    color:@nv-white;
    font-size:@nv-logo-title-size;
    text-align:center;
    letter-spacing:2pt;
  }
  
}
