/*
    Welcome to Night Vale: The Game About You
        Main Banner Logo
*/

// Import common variables.
@import "nvgay-variables.less";

@nv-logo-height:500px;

#nv-logo-banner {
  background-color:@nv-purple-light;
  height:@nv-logo-height;
  
  .nv-logo-eyemoon {
    margin:auto 200px;
    outline:1px solid red;
  }
}