<div id="nv-logo-mini" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ site.baseurl }}">Welcome to Night Vale: <br class="visible-xs"><span class="title-sub">A Game About You</span></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="{% if page.path == 'gameplay.html' %}active{% endif %}"><a href="{{ site.baseurl }}gameplay/">Gameplay</a></li>
      <li class="{% if page.path == 'characters.html' %}active{% endif %}"><a href="{{ site.baseurl }}characters/">Characters</a></li>
      <li class="{% if page.path == 'locations.html' %}active{% endif %}"><a href="{{ site.baseurl }}locations/">Locations</a></li>
      <li class="{% if page.path == 'faq.html' %}active{% endif %}"><a href="{{ site.baseurl }}faq/">F.A.Q.s</a></li>
      <li class="{% if page.path == 'about.html' %}active{% endif %}"><a href="{{ site.baseurl }}about/">About</a></li>
    </ul>
  </div>
</div>
