<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Style -->
<link href="{{site.baseurl}}css/nvgoy.min.css" rel="stylesheet" media="all">
<link href="{{site.baseurl}}css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Social Media Info -->
<meta property="og:title" content="Welcome to Night Vale: The Game of You">
<meta property="og:description" content="DESCRIPTION NEEDED HERE.">
<!-- JavaScript -->
<!--[if lt IE 9]>
  <script src="{{site.baseurl}}js/html5shiv-printshiv.min.js"></script>
  <script src="{{site.baseurl}}js/respond.min.js"></script>
<![endif]-->
