<div id="nv-logo-mini" class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Welcome to Night Vale: <br class="visible-xs"><span class="title-sub">A Game About You</span></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="{% if page.path == 'gameplay.html' %}active{% endif %}"><a href="/gameplay/">Gameplay</a></li>
      <li class="{% if page.path == 'characters.html' %}active{% endif %}"><a href="/characters/">Characters</a></li>
      <li class="{% if page.path == 'locations.html' %}active{% endif %}"><a href="/locations/">Locations</a></li>
      <li class="{% if page.path == 'audio.html' %}active{% endif %}"><a href="/audio/">Audio</a></li>
      <li class="{% if page.path == 'faq.html' %}active{% endif %}"><a href="/faq/"><abbr title="Frequently Asked Questions">F.A.Q.</abbr></a></li>
      <li class="{% if page.path == 'about.html' %}active{% endif %}"><a href="/about/">About</a></li>
    </ul>
  </div>
</div>
