<meta charset="utf-8">
<title>{{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Style -->
<link href="{{site.baseurl}}/css/nvgay.min.css" rel="stylesheet" media="all">
<link href="//fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/font-bignoodletitling.min.css" rel="stylesheet" media="all">
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Social Media Info -->
<meta property="og:title" content="Welcome to Night Vale: The Game About You">
<meta property="og:description" content="A design document sample by John *Seg* Seggerson for the podcast 'Welcome to Night Vale'">
<meta property="og:image" content="http://nightvale.segonmedia.com/img/nightvalelogo-web.gif">
<meta property="og:type" content="website">
<meta name="twitter:creator" content="@TheSeg">
<!-- JavaScript -->
<!--[if lt IE 9]>
  <script src="{{site.baseurl}}/js/html5shiv-printshiv.min.js"></script>
  <script src="{{site.baseurl}}/js/respond.min.js"></script>
<![endif]-->
<!-- Icons -->
{% include head-icons.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-133P8PRKJY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-133P8PRKJY');
</script>
