<div class="container text-center">

  <div class="nv-nav-main btn-group btn-group">
    <a href="{{ site.baseurl }}gameplay/" class="btn btn-link">Gameplay</a>
    <a href="{{ site.baseurl }}characters/" class="btn btn-link">Characters</a>
    <a href="{{ site.baseurl }}locations/" class="btn btn-link">Locations</a>
    <a href="{{ site.baseurl }}audio/" class="btn btn-link">Audio</a>
    <a href="{{ site.baseurl }}faq/" class="btn btn-link"><abbr title="Frequently Asked Questions">F.A.Q.</abbr></a>
    <a href="{{ site.baseurl }}about/" class="btn btn-link">About</a>
  </div>

</div>