<div class="container">

  <div class="nv-nav-main">
    <ul class="nav nav-pills nav-justified" role="navigation">
      <li class="active"><a href="{{ site.baseurl }}">Intro</a></li>
      <li><a href="{{ site.baseurl }}gameplay/">Gameplay</a></li>
      <li><a href="{{ site.baseurl }}characters/">Characters</a></li>
      <li><a href="{{ site.baseurl }}locations/">Locations</a></li>
      <li><a href="{{ site.baseurl }}faq/">FAQ</a></li>
      <li><a href="{{ site.baseurl }}about/">About</a></li>
    </ul>
  </div>

</div>