<div class="nv-thumbnail">
  <a href="{{ site.baseurl }}img/concept-art/cecil-palmer.jpg" class="colorbox">
    <img src="{{ site.baseurl }}img/concept-art/cecil-palmer.tmb.jpg" class="img-responsive img-rounded">
  </a>
  <div class="caption text-center">
    <p>
      by <a href="http://littleulvar.tumblr.com/" target="_blank">ULVAR</a>
      <br>
      <small>[<a href="http://littleulvar.tumblr.com/post/57441149511/im-not-sure-what-happened-but-it-did" target="_blank">source</a>]</small>
    </p>
  </div>
</div>