{% if include.addRow == true %}
<div class="row">
{% endif %}
{% if include.colSize > 0 %}
<div class="col-sm-{{include.colSize}} {% if include.offset > 0 %}col-sm-offset-{{include.offset}}{% endif %}">
{% endif %}

<div class="alert alert-danger">
  <h4 class="text-center"><i class="fa fa-warning"></i> This is not an official work of Commonplace Books! <i class="fa fa-warning"></i></h4>
  <p>
    This game design proposal by <a href="http://theseg.github.io/" class="alert-link" target="_blank">John "Seg" Seggerson</a> is in no way affiliated with Commonplace Books, Welcome to Night Vale, or any of the production team.
    {% if page.path != "about.html" %}
    <a href="{{ site.baseurl }}about/" class="alert-link">Read more...</a>
    {% endif %}
  </p>
</div>
{% if include.colSize > 0 %}
</div>
{% endif %}
{% if include.addRow == true %}
</div>
{% endif %}
